* {
    box-sizing: border-box;   
}

body, h1, h2, h3, h4, h5, h6, p, li, a, form {
    font-family: 'Roboto', sans-serif !important; 
    color:#333;
}

h1, h2, h3, h4, h5, h6, li, a {
    text-transform: lowercase;
}

.content-wrap {
    min-height:100vh;
}

p, label {
    font-weight: 300;
}

/*-------------
header/navbar 
--------------*/

#brand p {
    margin-top:0;
}

#brand h2 {
    margin-bottom: 0;
    text-align: center;
    font-weight: 400;
}

#brand a {
    color:#33363b;
}

#brand a {
    text-decoration: none;
}

#header {
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height:auto;
    color:#33363B;
}

.nav-links {
    display:flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.active {
    font-weight: 400;
}

.nav-links li {
    padding-bottom: 7px;
    border-bottom: 1px solid black;
    margin-top:7px;
    font-size:1.05em;
    font-weight: 300;
}

.nav-links li:last-child {
    border: none;
}

.nav-links a {
    color:black;
}

.nav-links a:hover {
    text-decoration: none;
    font-weight: 400;
    transition:font-weight 0.5s;
}

/*-------------
jumbotron
--------------*/

.jumbotron {
    height:400px;
    margin-top:20px;
    background: url(../img/mke_jbtn_paid3.jpg) center center no-repeat;
    background-size: cover;
}

/*-------------
about me
--------------*/

.about img {
    border-radius: 10px;
    width:200px;
    margin:50px auto 0 auto;
    display: block;
}

.about h2 {
    margin-top:45px;
    font-weight: 400;
}

.about p {
    line-height: 1.6;
}

.about {
    max-width: 90%;
    margin:0 auto 20px auto;
}

.about h2 {
    text-align: center;
    margin-bottom: 20px;
    border-bottom: 1px solid #333;
    padding-bottom: 5px;
    display: inline-block;
}

#mugshot {
    border:1px solid #333;
}

.about-lists {
    list-style-position: outside;
    margin-left: 30px;
    list-style-type: disc;
    font-weight: 300;
}

.about-lists li {
    text-transform: none !important;
    margin-bottom: 5px;
}

.about-lists span {
    font-weight: 400;
}

.about-lists-sub {
    list-style-position: outside;
    margin-left: 30px;
    list-style-type:circle;
    font-weight: 300;
}


/*-------------
supporting cols
--------------*/

.support-cols {
    text-align: center;
    margin-top:20px;
    margin-bottom:50px;
    color: #33363B;
}

.support {
    max-width: 80%;
    margin:0 auto;
}

.support h2 {
    font-weight: 400;
    border-bottom: 1px solid #33363b;
    padding-bottom: 5px;
    margin-bottom:20px;
}

.support p {
    margin-top:20px;
    margin-bottom:25px;
}


.support img {
    width:200px;
    height: 42px;
    margin-top:10px;
    text-align: center;
    /*-webkit-filter: grayscale(100%);*/
}

/*
hr {
    border-width: 2px;
    max-width:90%;
}



.btn {
    box-shadow: none;
    border:none;
    background:white;
    border:1px solid #33363b;
    padding: 5px 40px;
    display: inline-block;
    font-weight: 300;
    margin-top:15px;
}

.btn:hover {
    background: #33363b;
    color:white;
    font-weight: 300;
    box-shadow: none;
} */

/*-------------
pages-lead
--------------*/

.pages-lead {
    max-width: 940px;
    margin:40px auto 0 auto;
    width:90%;
}

.pages-lead h2 {
    border-bottom: 1px solid #33363b;
    display:inline-block;
    padding-bottom: 8px;
    margin-bottom: 20px;
    text-align: center;
}

.brand-lead {
    text-align: center;
}

.site-hr {
    max-width: 940px;
}

/*-------------
projects
--------------*/

.projects-overall {
    max-width: 940px;
    margin:0 auto;
    width:90%;
}

.projects-overall h4 {
    border-bottom: 1px solid #33363b;
    display:inline-block;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

.codepen-links {
    color:black;
    border-bottom: 1px solid #33363b;
}

.codepen-links:hover {
    text-decoration: none;
    font-weight: 400;
    color:black;
}

.codepen-links:visited {
    text-decoration: none;
    font-weight: 300;
    color:black;
}

.projects-overall h4 {
    margin-top:40px;
}


.project-imgs-main {
    /*width:360px;
    height:213px*/
    width:250px;
    height: auto;
    border:1px solid #33363b;
    margin:20px auto 0 auto;
    display:block;
}

.ind-project-imgs-main {
    /*width:360px;
    height:213px*/
    width:280px;
    height: auto;
    border:1px solid #33363b;
    margin:20px auto 0 auto;
    display:block;
}


.project-imgs-mobile {
    /*width:200px;
    height:300px;*/
    width:auto;
    height:150px;
    border:1px solid #33363b;
    margin:20px auto 0 auto;
    display:block;
}



.col-md-4 h5, .col-sm-6 h5 {
    text-align: center;
}

.container-flex {
    display:flex;
    flex-direction: row;
    height:auto;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom:20px;
}

.container-flex img {
    margin-left:15px;
    margin-right: 15px;
}

/*-------------
footer
--------------*/

.footer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    max-width: 940px;
    margin:0 auto;
    min-height: 100vh-80px;
    height:80px;
    /*border-top:1px solid #595959;*/
}

.footer h4 {
    margin-right:auto;
    font-size:14px;
    margin-left:20px;
}

.footer img {
    margin-left:15px;
    height:16px;
    width:16px;
}

.foot-links {
    margin-right: 20PX;
}


/*-------------
contact page
--------------*/

.contact {
    margin-top:50px;
}

.contact h3 {
    text-align: center;
    margin-bottom: 25px;
}

.contact-ways {
    text-align: center;
    margin-bottom: 50px;
}

.contact-form {
    margin-bottom: 30px;
}

.contact-ways img {
    height:20px;
    width:20px;
    margin-right: 10px;
}

.contact-ways a {
    color:#333;
    font-weight: 300;
}

.contact-ways li {
    margin-bottom: 15px;
}

.contact-ways a:hover {
    text-decoration: none;
    font-weight: 400;
    transition:all 0.5s;
    color: #333;
}

/*-------------
media queries
--------------*/

@media (min-width: 712px) {
    #header {
        flex-direction: row;
        flex-wrap: wrap;
        max-width: 940px;
        margin:0 auto;
        align-items: center;
    }
    .nav-links {
        flex-direction: row;
        margin-right:20px;
        align-items: center;
    }
    .nav-links li {
        margin-left: 6px;
        padding-right:6px;
        border-bottom:none;
        border-right:1px solid #33363B;
        text-align: center;
    }
    #brand {
        margin-right:auto;
        margin-left:20px;
    }
    .nav-links li:last-child {
        border:none;
    }
}